<nav class="location-side-nav" aria-label="Bath page navigation">
  <p class="nav-kicker">Navigate Bath</p>
  <div class="location-side-nav-group">
    <span class="location-side-nav-title">Compare Schools</span>
    <a class="sub-link" href="/bath/compare/?view=overview">School Overview</a>
    <a class="sub-link" href="/bath/compare/?view=alevel">A-levels</a>
    <a class="sub-link" href="/bath/fees/">Fees</a>
    <a class="sub-link" href="/bath/bursaries/">Bursaries</a>
  </div>
  <div class="location-side-nav-group">
    <a class="location-side-nav-title" href="/bath/open-days/">Open Days</a>
  </div>
  <div class="location-side-nav-group">
    <span class="location-side-nav-title">Moving to Bath</span>
    <span class="sub-label">Coming soon</span>
  </div>
</nav>
